#home-page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#home-page-heading {
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 2% 0;
}

#squircle-container {
  min-width: 600px;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: right;
}

#squircle {
  width: 600px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  background-image: url(../../images/food.jpg);
}

#heading-title-container {
  max-width: 58%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 2fr 2fr 1fr;
  padding: 0 30px;
}

#heading-title {
  font-size: 3.2rem;
  font-weight: 1000;
  line-height: 3.2rem;
  width: 70%;
}
#heading-subtitle {
  grid-column: 1;
  font-size: 2rem;
  font-weight: 1000;
  color: rgba(66, 65, 65, 0.6);
  width: 70%;
}
#subtitle-link {
  margin-top: 1rem;
  color: rgba(66, 65, 65, 0.6);
  display: block;
  font-size: 1.5rem;
}
#subtitle-link:visited {
  color: rgba(66, 65, 65, 0.6);
}
#title-image-container {
  grid-row: 1/3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: end;
}
#title-image {
  width: 300px;
}
#heading-CTAcontainer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-row: 3;
  grid-column: 1/3;
}
#CTAtext {
  display: flex;
  white-space: pre;
  align-items: end;
}

.cta-text-embolden {
  display: inline;
  white-space: pre;
}
#CTA-form {
  margin: 2px 0;
}
#cta-form-input {
  border: none;
  outline: none;
  width: 40%;
  padding: 10px 10px 10px 5px;
  font-family: inherit;
  font-size: 1rem;
  margin-right: 15px;
  text-transform: capitalize;
  border-bottom: 1px solid black;
}
#cta-form-input:focus {
  border-bottom: 1px solid black;
}
#cta-form-btn {
  font-family: inherit;
  border-radius: 15px;
  border: 1px solid rgb(201, 197, 197);
  background-color: rgb(201, 197, 197);
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: 1000;
}
#cta-form-btn:hover {
  cursor: pointer;
  background-color: white;
}
