@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Nunito", sans-serif;
}
html,
body,
div,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
